<html lang="en" class="touchevents pointerevents touchevents pointerevents touchevents pointerevents touchevents pointerevents" data-whatintent="mouse" data-whatinput="keyboard">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>What to Eat While Strength Training Recipes to Refuel and Recover after Strength Workouts | Fitness Blender</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FavIco -->
    <!-- Generate using http://realfavicongenerator.net/ -->
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-N7B5RPL3"></script>
    <script async="" src="https://static.hotjar.com/c/hotjar-1511055.js?sv=6"></script>
    <script async="" src="https://script.hotjar.com/modules.de6b9e294c29aa146ba1.js" charset="utf-8"></script>
    <script src="https://script.hotjar.com/browser-perf.8417c6bba72228fa2e29.js"></script>
    <script async="" src="https://static.hotjar.com/c/hotjar-1511055.js?sv=6"></script>
    <meta http-equiv="origin-trial" content="AlK2UR5SkAlj8jjdEc9p3F3xuFYlF6LYjAML3EOqw1g26eCwWPjdmecULvBH5MVPoqKYrOfPhYVL71xAXI1IBQoAAAB8eyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3NTgwNjcxOTksImlzU3ViZG9tYWluIjp0cnVlfQ==" />
    <meta http-equiv="origin-trial" content="Amm8/NmvvQfhwCib6I7ZsmUxiSCfOxWxHayJwyU1r3gRIItzr7bNQid6O8ZYaE1GSQTa69WwhPC9flq/oYkRBwsAAACCeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiV2ViVmlld1hSZXF1ZXN0ZWRXaXRoRGVwcmVjYXRpb24iLCJleHBpcnkiOjE3NTgwNjcxOTksImlzU3ViZG9tYWluIjp0cnVlfQ==" />
    <meta http-equiv="origin-trial" content="A9uiHDzQFAhqALUhTgTYJcz9XrGH2y0/9AORwCSapUO/f7Uh7ysIzyszNkuWDLqNYg8446Uj48XIstBW1qv/wAQAAACNeyJvcmlnaW4iOiJodHRwczovL2RvdWJsZWNsaWNrLm5ldDo0NDMiLCJmZWF0dXJlIjoiRmxlZGdlQmlkZGluZ0FuZEF1Y3Rpb25TZXJ2ZXIiLCJleHBpcnkiOjE3Mjc4MjcxOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9" />
    <meta http-equiv="origin-trial" content="A9R+gkZL3TWq+Z7RJ2L0c7ZN7FZD5z4mHmVvjrPitg/EMz9P3j5d3W7Vw5ZR9jtJGmWKltM4BO3smNzpCgwYuwwAAACTeyJvcmlnaW4iOiJodHRwczovL2dvb2dsZXN5bmRpY2F0aW9uLmNvbTo0NDMiLCJmZWF0dXJlIjoiRmxlZGdlQmlkZGluZ0FuZEF1Y3Rpb25TZXJ2ZXIiLCJleHBpcnkiOjE3Mjc4MjcxOTksImlzU3ViZG9tYWluIjp0cnVlLCJpc1RoaXJkUGFydHkiOnRydWV9" />
  </head>
  <body class="fixed-header">
    <!-- Meta -->
    <meta name="description" content="Our 1-Week Meal Plan for strength training is easy-to-use, nutrient-dense, and delicious. It was specially developed by Registered Dietitians &amp; Recipe Developers." />
    <meta name="keywords" content="meal plan for strength training, meal plan for building muscle, meal plan for protein, protein focused meal plan, meal plan for muscle," />

    <!-- ogp -->
    <meta property="og:site_name" content="Fitness Blender" />
    <meta property="og:title" content="What to Eat While Strength Training Recipes to Refuel and Recover after Strength Workouts" />
    <meta property="og:description" content="Our 1-Week Meal Plan for strength training is easy-to-use, nutrient-dense, and delicious. It was specially developed by Registered Dietitians &amp; Recipe Developers." />
    <meta property="og:type" content="website" />

    <meta property="og:url" content="https://www.fitnessblender.com/plans/what-to-eat-while-strength-training-recipes-to-refuel-and-recover-after-strength-workouts" />
    <meta property="og:image" content="https://www.fitnessblender.com/siteassets/plan/10178-what-to-eat-while-strength-training-88a3.jpg" />
    <!-- end ogp -->

    <!-- twitter cards -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="FitnessBlender" />
    <meta name="twitter:title" content="What to Eat While Strength Training Recipes to Refuel and Recover after Strength Workouts" />
    <meta name="twitter:description" content="Our 1-Week Meal Plan for strength training is easy-to-use, nutrient-dense, and delicious. It was specially developed by Registered Dietitians &amp; Recipe Developers." />
    <meta name="twitter:creator" content="FitnessBlender" />
    <meta name="twitter:image" content="https://www.fitnessblender.com/siteassets/plan/10178-what-to-eat-while-strength-training-88a3.jpg" />
    <!-- end cards -->

    <link rel="canonical" href="https://www.fitnessblender.com/plans/what-to-eat-while-strength-training-recipes-to-refuel-and-recover-after-strength-workouts" />

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1" rel="stylesheet" />
    <link href="https://cloudfront.fitnessblender.com/assets/bundle/styles-97138e4e8ab81c49d726.css" rel="stylesheet" />

    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-N7B5RPL3"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-N7B5RPL3"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-N7B5RPL3"></script>
    <script>
      window.Laravel = {
        planPurchases: {},
      
        comments: {
          commentCount: 2
        },
      
        entity: {
          type: 'plan',
          category: 'Program',
          id: 10178,
          title: 'What to Eat While Strength Training'
        },
        csrfToken: 'EcwYKGYmtIDnNwmNFLhwzEcRTibVktrNej9U3dRK',
        sentryDsn: 'https://d310ec1875ac49c099b19a3d6de5b30b@sentry.io/1322314',
        env: 'production',
        user: {
          anonymizedIp: '122.170.48',
          isLoggedIn: false,
          displayName: 'Guest',
          firstName: 'guest',
          username: 'guest',
          avatar: '',
          notificationUnreadCount: 0,
          startMonday: 0,
          showBurnEstimates: 0,
          showBrowseView: 0,
          measurementSystem: 'imperial',
          filterBeta: 0
        },
        cart: {
          count: 0
        },
        cdn: {
          prefix: 'https://cloudfront.fitnessblender.com',
          siteAssetsPrefix: 'https://d18zdz9g6n5za7.cloudfront.net',
          userAssetsPrefix: 'https://d3scpmvvk35ffs.cloudfront.net'
        },
        features: { PLAN_RO_SCHEDULE: true, REFERRALS: true },
        plusFreeAccess: { enabled: false, expires: false, remainingDays: 0, remainingHours: 0, availableEndDate: '' },
        units: {
          unitSlotPercents: { 100: '0.01', 101: '0.01', 102: '0.01', 103: '0.01', 104: '0.01', 105: '0.01' },
          preview: 0
        }
      }
      
      document.cookie = 'FB_TZ=' + new Date().getTimezoneOffset() / 60 + ';path=/;SameSite=Lax'
    </script>

    <script>
      // plausible
      window.plausible =
        window.plausible ||
        function () {
          ;(window.plausible.q = window.plausible.q || []).push(arguments)
        }
      window._fbPageView = {}
      
      // default to denied consent, must come first
      window.adsbygoogle = window.adsbygoogle || []
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      
      gtag('js', new Date())
      gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
        functionality_storage: 'denied',
        personalization_storage: 'denied',
        security_storage: 'granted',
        wait_for_update: 4000
      })
      gtag('set', 'ads_data_redaction', true)
      gtag('set', 'url_passthrough', true)
      gtag('set', 'allow_google_signals', false)
      
      plausible('pageview', _fbPageView)
      
      window.iabConfig = {
        allowedVendors: [147, 5, 15, 93, 264, 195, 27, 23, 394, 12, 94, 163, 734, 767, 243, 416, 77, 85, 397, 11, 168, 929, 42, 24, 312, 1, 328, 758, 755, 657, 98, 15, 253, 1, 452, 294, 345, 544, 667, 97, 587, 19, 95, 493, 317, 73, 32, 87, 45, 34, 37, 468, 13, 373, 388, 832, 34, 241, 69, 772, 139, 384, 14, 228, 762, 226, 11, 6, 631, 192, 759, 16, 56, 415, 84, 59, 73, 82, 161, 45, 246, 381, 13, 157, 275, 42, 466, 132, 423, 28, 212, 512, 284, 281],
        allowedGoogleVendors: [70, 89, 93, 108, 122, 149, 196, 259, 311, 317, 323, 338, 415, 482, 486, 494, 495, 540, 574, 864, 981, 1051, 1095, 1097, 1201, 1205, 1276, 1301, 1365, 1415, 1449, 1570, 1577, 1651, 1716, 1765, 1870, 1878, 1889, 2072, 2074, 2253, 2299, 2357, 2425, 2526, 2568, 2571, 2575, 2670, 2677]
      }
    </script>

    <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/aa29d2e1ea69020a09caaeb0/script.js"></script>

    <script async="" data-cookieyes="cookieyes-advertisement" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script defer="" data-domain="fitnessblender.com" src="https://cloudfront.fitnessblender.com/js/script.manual.pageview-props.js" event-user_role="Anonymous"></script>

    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-N7B5RPL3')
    </script>

    <script>
      ;(function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            ;(h.hj.q = h.hj.q || []).push(arguments)
          }
        h._hjSettings = { hjid: 1511055, hjsv: 6 }
        a = o.getElementsByTagName('head')[0]
        r = o.createElement('script')
        r.async = 1
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv
        a.appendChild(r)
      })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=')
    </script>
    <script async="" src="https://static.hotjar.com/c/hotjar-1511055.js?sv=6"></script>
    <script async="" src="https://static.hotjar.com/c/hotjar-1511055.js?sv=6"></script>

    <script async="" src="https://script.hotjar.com/modules.de6b9e294c29aa146ba1.js" charset="utf-8"></script>

    <a href="#content" class="sr-only">Skip to Main Content</a>
    <div id="announcement" class="announcement alert announcement-hidden" data-cookie="FBA2_201">
      <div class="inner">
        <p>
          <a href="https://gofb.info/StrengthBlockSaleB">20% Off FB Plus Continues</a> + Out Now: <a href="https://gofb.info/FeelStrongerwithEricaB">Feel Stronger with Erica</a> 10 Day Challenge
        </p>
        <span class="iconfont-close-modal close-announcement" id="closeAnnouncement"></span>
      </div>
    </div>

    <div data-v-app="">
      <div class="modals">
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
      </div>
    </div>
    <div data-v-app="">
      <div class="modals">
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
        <!--  -->
      </div>
    </div>

    <main id="content" class="no-bottom-margin" role="main">
      <section class="-detail-view">
        <div class="content-group -center -content-asset">
          <div class="group -xwide">
            <div class="responsive-media">
              <img src="https://d18zdz9g6n5za7.cloudfront.net/plan/1020/1020-10178-what-to-eat-while-strength-training-88a3.jpg" class="header-image" srcset="
            https://d18zdz9g6n5za7.cloudfront.net/plan/10178-what-to-eat-while-strength-training-88a3.jpg 1920w,
            https://d18zdz9g6n5za7.cloudfront.net/plan/1020/1020-10178-what-to-eat-while-strength-training-88a3.jpg 1020w,
            https://d18zdz9g6n5za7.cloudfront.net/plan/800/800-10178-what-to-eat-while-strength-training-88a3.jpg 800w,
            https://d18zdz9g6n5za7.cloudfront.net/plan/640/640-10178-what-to-eat-while-strength-training-88a3.jpg 640w,
            https://d18zdz9g6n5za7.cloudfront.net/plan/320/320-10178-what-to-eat-while-strength-training-88a3.jpg 320w
          " alt="What to Eat While Strength Training" sizes="
          (min-width: 1280px) 1280px,
          (max-width: 1279px) 80vw,
          (max-width: 768px) calc(100vw - 2rem),
        " width="1920" height="1080" />
            </div>
          </div>
        </div>

        <div class="content-group -center -content-summary">
          <div class="vue group -flex -xwide" data-app="ContentActionsApp" data-v-app="">
            <div class="summary-group">
              <h1 class="content-title">What to Eat While Strength Training <span class="sub-title">Recipes to Refuel and Recover after Strength Workouts</span></h1>
            </div>
          </div>
        </div>

        <div class="vue" data-app="ContentExpanderApp" data-v-app="">
          <div class="content-group -center -column -content-details">
            <div class="group -flex -xwide">
              <div class="detail-group">
                <div class="secondary-details">
                  <ul class="detail-list">
                    <li>
                      <span class="detail-title">Length:</span><span class="detail-value">1 Week</span>
                    </li>
                    <li>
                      <span class="detail-title">Dietary Type:</span><span class="detail-value">Omnivore</span>
                    </li>
                    <li>
                      <span class="detail-title">Meal Type:</span><span class="detail-value">Breakfast, Lunch, Dinner, Snack</span>
                    </li>
                    <li>
                      <span class="detail-title">Avg Recipe:</span><span class="detail-value">13 minutes</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="stats-group"></div>
            </div>
            <div class="group -flex -xwide">
              <div class="-content-extras"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="content-group -center -content-body">
        <div class="group -flex -xwide">
          <div class="article">
            <header class="article-header">
              <h1 class="heading -secondary">Overview</h1>
            </header>

            <div class="article-body">
              <p>
                This&nbsp;meal plan was designed by a Registered Dietitian, specifically to support the post-workout nutrition and recovery of a strength training program. This&nbsp;is a great pair with&nbsp;<a href="https://www.fitnessblender.com/plans/4-week-fb-strong-round-3-build-muscle-increase-strength-and-feel-great-you-choose-30-min-or-less-or">4 Week FB Strong: Round 3</a>. If you want to learn more about how to recover well from an intense workout program, you are in the right place!&nbsp;
              </p>

              <p>Along with a plan for meals and snacks, each day we share essential things to&nbsp;know about post-workout nutrition and the practicals of what this can look like. We will also explain the content of this meal plan and how you can use it to build muscle, fuel your body for training, and build strength.&nbsp;</p>

              <p>Our 1-Week Meal Plan for strength training is easy-to-use, nutrient-dense, and delicious. It was specially developed by Registered Dietitians &amp; Recipe Developers and reviewed by Doctoral-Level Mental Health Professionals.</p>

              <div class="group -flex -center -vs-small">
                <a class="btn -main -space" href="/programs-challenges#pc-meal-plan-feature-list">View Features</a>
                <a class="btn -main -space" href="/programs-challenges#pc-faqs-notes">View FAQS and Notes</a>
              </div>
            </div>

            <div class="vue comments" data-app="CommentsApp" data-v-app="">
              <section id="comments" class="content-group scroll-dest">
                <div class="group -edge -flex -center"></div>
              </section>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer id="footer" class="site__footer" role="contentinfo">
      <div class="container">
        <h2 class="brand -dark">
          <a href="/">Fitness Blender</a>
          <p>
            WORKOUT COMPLETE<sup>™</sup>
          </p>
        </h2>

        <nav class="footer__nav alt-nav">
          <ul>
            <li>
              <a class="demi" href="/videos/browse">Workouts</a>
            </li>
            <li>
              <a data-browse-view="videos" href="/videos">Workout Videos</a>
            </li>
            <li>
              <a href="/page/custom-workouts">Custom Workouts</a>
            </li>
            <li>
              <a class="demi" href="/programs-challenges">Programs</a>
            </li>
            <li>
              <a data-browse-view="plans" href="/plans">Workout Programs</a>
            </li>
            <li>
              <a href="/meal-plans">Meal Plans</a>
            </li>
            <li>
              <a href="/pilot-programs">Pilot Programs</a>
            </li>
            <li>
              <a href="/page/routines">Routines</a>
            </li>
          </ul>
          <ul>
            <li>
              <a class="demi" href="/healthy-living">Healthy Living</a>
            </li>
            <li>
              <a href="/articles?category%5B%5D=1">Fitness</a>
            </li>
            <li>
              <a href="/articles?category%5B%5D=3">Health</a>
            </li>
            <li>
              <a href="/articles?category%5B%5D=9">Nutrition</a>
            </li>
            <li>
              <a href="/healthy-living/healthy-recipes">Healthy Recipes</a>
            </li>
            <li>
              <a href="/articles?category%5B%5D=10">Experts</a>
            </li>
          </ul>
          <ul>
            <li>
              <a class="demi" href="/page/about-fitness-blender">About</a>
            </li>
            <li>
              <a href="/careers">Careers</a>
            </li>
            <li>
              <a href="/tutorials">Tutorials</a>
            </li>
            <li>
              <a href="/team-members">Our Team</a>
            </li>
            <li>
              <a href="/page/fb-plus-group">B2B Options</a>
            </li>
          </ul>
          <ul>
            <li>
              <a class="demi" href="/membership">Membership</a>
            </li>
            <li>
              <a class="demi" href="/fb-plus">FB Plus</a>
            </li>
            <li>
              <a class="demi" href="/community">Community</a>
            </li>
            <li>
              <a class="demi" href="/referrals-rewards">Referral Program</a>
            </li>
            <li>
              <a class="demi" href="/blog">Blog</a>
            </li>
            <li>
              <a class="demi" href="/page/contact-us">Contact Us</a>
            </li>
            <li>
              <a class="demi" href="/page/faq">FAQ</a>
            </li>
            <li>
              <a class="demi" href="/store">Store</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="container">
        <div class="end">
          <p>
            Copyright © 2024 Fitness Blender. All rights reserved.
            <a href="/page/terms-of-use-agreement">Terms of Use</a>
            <a href="/page/privacy-policy">Privacy Policy</a>
            <span class="vue" data-app="FooterConsentApp" data-v-app=""><button class="cky-banner-element btn -anchor-link" style="display: none;">Cookie Preferences</button></span>
          </p>
          <ul class="nav-smicons footer-smicons">
            <li class="youtube-smi">
              <a href="https://www.youtube.com/user/FitnessBlender" target="_blank"><span class="iconfont-youtube-play"></span><span class="sr-only">YouTube</span></a>
            </li>
            <li class="pinterest-mi">
              <a href="https://pinterest.com/FitnessBlender/" target="_blank"><span class="iconfont-pinterest"></span><span class="sr-only">Pinterest</span></a>
            </li>
            <li class="facebook-smi">
              <a href="https://www.facebook.com/pages/FitnessBlendercom/151085874942542" target="_blank"><span class="iconfont-facebook"></span><span class="sr-only">Facebook</span></a>
            </li>
            <li class="instagram-smi">
              <a href="https://instagram.com/fitnessblender/#" target="_blank"><span class="iconfont-instagram"></span><span class="sr-only">Instagram</span></a>
            </li>
            <li class="twitter-smi">
              <a href="https://twitter.com/FitnessBlender" target="_blank"><span class="iconfont-twitter"></span><span class="sr-only">Twitter</span></a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://cloudfront.fitnessblender.com/assets/bundle/app-32f966daec4404ed197a.js"></script>
    <iframe id="_hjSafeContext_58522678" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
    <iframe id="_hjSafeContext_92399955" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>

    <iframe id="_hjSafeContext_59460069" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>&nbsp;<iframe id="_hjSafeContext_32972548" title="_hjSafeContext" tabindex="-1" aria-hidden="true" src="about:blank" style="display: none !important; width: 1px !important; height: 1px !important; opacity: 0 !important; pointer-events: none !important;"></iframe>
  </body>
</html>
